{% extends 'base.html' %}
{% block content %}
<a href="{% url 'cat_create' %}">Add Cat</a>
    <h1>{{header}}</h1>
    <form>
        <div>
            <!-- searches for the name of the cat -->
            <input type="text" name="name" placeholder="name"/>
            <input type="submit" value="Search"/>
        </div>
        <!-- this a tag will redirect back to catlist without a query param! be sure to use the "name" you called the route in your main_app/urls.py -->
        <a href="{% url 'cat-list' %}">Clear Search</a>
    </form>
    {% for cat in cats %}
    <img src="{{cat.img}}" alt="{{cat.name}}">
    <a href="{% url 'cat_detail' cat.pk %}">
        <h3>Name: {{cat.name}}</h3> 
    </a>
    <h3>Age: {{cat.age}}</h3>
    <h3>Gender: {{cat.gender}}</h3>
    {% endfor %}
{% endblock %}